<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tut73</title>
    style
     include ../static/style.css

</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home </a> </li>
            <li><a href="/">About </a> </li>
            <li><a href="/">Contact </a> </li>
        </ul>
    </nav>
    <div>


        <h2>Welcome to Our gym ..
            Submit Form And Enjoy our Membershipe.
        </h2>
    </div>

    <div id="formContainer">
        <form action="/" method="POST" class="form" id="contact">
        <input type="text" name="Name" class="form" id="Name" placeholder="Enter your Name">
        <input type="text" name="Age" class="form" id="Age" placeholder="Enter your Age">
        <input type="text" name="Gender" class="form" id="Gender" placeholder="Enter your Gender">
        <textarea name="address" id="address" class="form" cols="30" rows="10" placeholder="Enter your address "></textarea>
        <textarea name="more" id="more" class="form" cols="30" rows="10" placeholder="Enter your more "></textarea>
        <button class="btn">Submit</button>
    </form>
    </div>
    <p>
        | #{content}

    </p>
</body>

</html>