doctype html
html(lang="en")
  head
    title My Site 
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="../static/logo.png")
                div HDA
                
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#foot
        | Copyright @All Right Resurved.
        